<!DOCTYPE html>
<html lang="en">
		<title>SignIn</title>
	
	<%- include ('partials/signupheader.ejs') %>
<body>

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form" action="/authentication/login" method="POST">
					<span class="login100-form-title p-b-26">
						Welcome To
					</span>
					
					
							<a class="login100-form-title p-b-26" href="/index/">"Beyond Code"</a>
					
				
					<div class="wrap-input100 validate-input" data-validate = "Enter valid username">
						<input class="input100" type="text" name="username">
						<span class="focus-input100" data-placeholder="Username"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span>
						<input class="input100" type="password" name="password">
						<span class="focus-input100" data-placeholder="Password"></span>
					</div>
<% if(shouldshowalert) { %>
						<div class="<%=alertClass %> h-6" role="alert">
							 <%= message %>
						</div>
					  <% }else{
						
					  } %>
					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn">
								Login
							</button>
						</div>
					</div>
					
					<div class="text-center p-t-70">
						<span class="txt1">
							Don’t have an account?
						</span>

						<a class="txt2" href="/authentication/signup">
							Sign Up
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	<div id="dropDownSelect1"></div>
	
	<%- include ('partials/signupscripts.ejs') %>
</body>
</html>